/* Put your CSS here */
html, body {
    margin: 30px 0;
}

.project {
  margin: 10px;
  background-color:silver;
  width: 340px;
  float: left;
  padding:10px 10px 110px 10px;
  box-sizing: border-box;
  position: relative;
}

.project pre {
  overflow: scroll;
  white-space: pre;
  word-wrap: normal;
  word-break: normal;
}

.buildWrapper {
  color: black;
  position: absolute;
  bottom:0;
  left:0;
  width:100%;
  overflow: hidden;
}

.build {
  overflow: hidden;
  display: block;
  margin: 0 0 10px 10px;
  width: 45px;
  height: 22px;
  float: left;
  text-align: center;
  color: black;
  box-sizing: borde-box;
  background-color: gray;
  border: 1px solid white;
}

.taskWrapper {
  color: black;
  background: silver;
  padding:5px;
}

.task {
  background: silver;
  padding: 5px;
}

.project.success, .build.success, .task.success {
  background-color: lightgreen;
}

.project.failure, .build.failure, .task.failure {
  background: darkred;
  color: white;
}

