
<h4>{{project.name}}</h4>
<div class="clearfix buildWrapper">
  {{#each build in project.builds}}
    {{#view App.BuildView buildBinding=build }}
      {{build.number}}
    {{/view}}
  {{/each}}
</div>

